{% extends 'cms/sections/base.html' %}

{% block extracontent %}
  <form id="contactform" action="https://inquire.rtts.eu/" method="post">
    <input type="hidden" name="subject" value="Iemand heeft zich aangemeld voor {{section.title}}!">
    <input type="hidden" name="redirect" value="https://www.studiomanna.nl/thanks">
    <input type="hidden" name="to" value="fraukevandenboogaard@gmail.com">
    <label for="bericht">Uw naam:</label>
    <textarea cols="40" id="message" name="message" rows="10" style="display:none"></textarea>
    <input type="text" name="get_off_my_lawn" required>
    <label for="afzender">Uw emailadres:</label>
    <input id="afzender" name="reply_to" type="email" required>
    <div class="spacer"></div>
    <div class="spacer"></div>

    <div class="button">
      <button>{{section.button_text}}</button>
    </div>
  </form>
{% endblock %}
