<div class="wrapper">

  <form id="contactform" action="https://inquire.rtts.eu/" method="post">
    <input type="hidden" name="subject" value="Studio Manna Contactformulier">
    <input type="hidden" name="redirect" value="https://www.studiomanna.nl/thanks">
    <input type="hidden" name="to" value="fraukevandenbogaard@gmail.com">

    <label for="afzender">Uw emailadres:</label>
    <input id="afzender" name="reply_to" type="email" required>
    <div class="spacer"></div>
    <label for="bericht">Uw bericht:</label>
    <textarea cols="40" id="message" name="message" rows="10" style="display:none"></textarea>
    <textarea cols="40" id="bericht" name="get_off_my_lawn" rows="10" required></textarea>
    <div class="spacer"></div>
    <input type="submit" value="Verzend"></td>

    <p align="right">
      <small>(wordt verzonden naar <a href="mailto:info@studiomanna.nl">info@studiomanna.nl</a>)</small>
    </p>
  </form>

</div>
