body, html {
  font-family: 'Josefin Slab';
  color: #a88d2e;
  font-size: 20px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans';
  letter-spacing: 1px;
  text-transform: uppercase; }

div.button a {
  background: #b83b6e !important;
  color: white !important;
  margin-top: 25px; }

div.spacer {
  height: 1em; }

header {
  text-align: center;
  margin: -20px 0; }
  header img {
    width: 300px; }

nav {
  color: #444;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
  @media (min-width: 500px) {
    nav {
      position: relative;
      z-index: 2; } }
  @media (max-width: 500px) {
    nav {
      font-size: 14px !important; } }
  nav a {
    transition: 0.5s !important; }
  nav a.current, nav a:hover {
    transform: none !important;
    color: #bbb !important; }

section {
  border-bottom: 1px solid #f2eddd;
  padding: 75px 0;
  margin-bottom: 0; }
  section div.title h1 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 30px; }
  section div.image {
    margin-top: 10px;
    margin-bottom: 50px; }

section.photo {
  padding: 0;
  margin: 0;
  border-bottom: none; }
  section.photo div.photo img {
    display: block;
    width: 100%;
    height: 80vh;
    object-fit: cover; }

section.upcoming div.tables {
  overflow: hidden;
  display: flex;
  max-width: 1300px;
  margin: auto; }
  @media (max-width: 800px) {
    section.upcoming div.tables {
      display: block; } }
  section.upcoming div.tables > div {
    flex: 1 1 0; }
  section.upcoming div.tables table {
    border-spacing: 0;
    width: calc(100% - 2em);
    border: 3px solid #f2eddd;
    border-radius: 5px;
    margin: 1em;
    float: left; }
    section.upcoming div.tables table th, section.upcoming div.tables table td {
      padding: 5px 10px; }
    section.upcoming div.tables table tr:nth-child(odd) {
      background: #f2eddd; }

section {
  clear: both; }

@media (min-width: 500px) {
  section.third {
    width: 33%;
    float: left;
    clear: none;
    border-bottom: none;
    padding: 50px;
    box-sizing: border-box; }
    section.third h1 {
      font-size: 24px; }
  section.fourth {
    width: 25%;
    float: left;
    clear: none;
    border-bottom: none;
    padding: 50px;
    box-sizing: border-box; }
    section.fourth h1 {
      font-size: 24px; } }

section.contact label {
  display: inline-block;
  text-align: right;
  white-space: nowrap;
  padding: 0.5em; }

section.contact table {
  line-height: 1.25;
  clear: both;
  width: 100%;
  padding-top: 1em;
  margin-top: 1em; }

section.contact td {
  border: 1px solid red;
  padding: 5px;
  vertical-align: top;
  text-align: right; }

section.contact input[type=email], section.contact textarea {
  font-family: 'Josefin Slab';
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  margin: 0;
  border: none;
  background: #f2eddd; }

section.contact input, section.contact textarea {
  letter-spacing: 0.05em;
  font-size: 20px; }

section.contact input[type=submit] {
  background: #b83b6e;
  color: white;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.5em 2em;
  cursor: pointer; }

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: normal;
  src: local("Josefin Slab Regular"), local("JosefinSlab-Regular"), url("Josefin_Slab.eot?#iefix") format("embedded-opentype"), url("Josefin_Slab.woff") format("woff"), url("Josefin_Slab.woff2") format("woff2"), url("Josefin_Slab.svg#JosefinSlab") format("svg"), url("Josefin_Slab.ttf") format("truetype"); }

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: normal;
  src: local("Josefin Sans Regular"), local("JosefinSans-Regular"), url("Josefin_Sans.eot?#iefix") format("embedded-opentype"), url("Josefin_Sans.woff") format("woff"), url("Josefin_Sans.woff2") format("woff2"), url("Josefin_Sans.svg#JosefinSans") format("svg"), url("Josefin_Sans.ttf") format("truetype"); }

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local("Droid Sans Regular"), local("DroidSans-Regular"), url("Droid_Sans.eot?#iefix") format("embedded-opentype"), url("Droid_Sans.woff") format("woff"), url("Droid_Sans.woff2") format("woff2"), url("Droid_Sans.svg#DroidSans") format("svg"), url("Droid_Sans.ttf") format("truetype"); }

/*# sourceMappingURL=main4.scss.css.map */